@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

a:visited {
  color: inherit;
}

.container {
  width: 1440px;
  margin: 0 auto !important;
}
@media screen and (max-width: 1440px) {
  .container {
    width: auto;
  }
}

.main-header {
  background-color: black;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  position: fixed;
  display: none;
}
@media screen and (min-width: 480px) and (min-height: 640px) {
  .main-header {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main-header {
    position: static;
  }
}
.main-header a {
  color: white;
}
.main-header a:hover {
  color: rgb(169, 189, 247);
}
.main-header-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header-menu li {
  padding: 0;
  margin: 0;
}
.main-header-menu li:first-child {
  margin-right: 32px;
}
.main-header-menu li a {
  display: block;
  font-family: "Cuprum";
  text-decoration: none;
  padding: 12px;
}

.promo {
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 30px;
  background-color: black;
  background-image: url("../img/promo-back-2.webp");
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 541px) {
  .promo {
    display: block;
    height: auto;
    padding-top: 20px;
  }
}
@media screen and (min-width: 720px) {
  .promo {
    padding-top: 60px;
  }
}
@media screen and (max-height: 640px) {
  .promo {
    flex-direction: row;
  }
}
.promo-backvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fade-in 1.3s;
          animation: fade-in 1.3s;
}
.promo-backvideo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  filter: brightness(0.7);
}
.promo-central {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .promo-central {
    align-items: stretch;
  }
}
@media screen and (max-height: 640px) {
  .promo-central {
    flex-direction: row;
  }
}
.promo-link-college {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.promo-link-college:hover {
  opacity: 0.8;
}
.promo-link-college img {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .promo-link-college img {
    height: 136px;
    width: 136px;
  }
}
.promo-bottom {
  position: relative;
  z-index: 1;
}
.promo-heading {
  font-family: Montserrat, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}
.promo-heading_anim {
  -webkit-animation: blinking 2s infinite;
          animation: blinking 2s infinite;
}
@media screen and (min-width: 768px) and (min-height: 640px) {
  .promo-heading {
    font-size: 50px;
  }
}
@media screen and (min-width: 1020px) and (min-height: 768px) {
  .promo-heading {
    font-size: 80px;
  }
}
.promo-button {
  display: inline-block;
  padding: 12px 17px;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: "Cuprum", "Arial Narrow";
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .promo-button {
    box-sizing: border-box;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 22px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.promo-button:first-child {
  margin-right: 16px;
}
@media screen and (max-width: 480px), (max-height: 640px) {
  .promo-button:first-child {
    margin: 10px auto;
  }
}
.promo-button:hover {
  filter: brightness(0.8);
}
.promo-button-signup {
  background-color: rgb(41, 173, 96);
  color: white;
}
.promo-button-about {
  background-color: rgb(33, 150, 243);
  color: white;
}
.promo-bottom {
  box-sizing: border-box;
  margin: 32px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
}
.promo-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.promo-list-item {
  min-width: 200px;
  max-width: 300px;
  display: flex;
  align-items: center;
  padding: 16px;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .promo-list-item {
    padding: 4px;
  }
}
@media screen and (max-width: 1080px) {
  .promo-list-item {
    max-width: 250px;
  }
}
@media screen and (max-height: 640px) {
  .promo-list-item {
    padding: 0;
  }
}
.promo-list-item_number {
  font-family: Cuprum;
  font-size: 48px;
  padding: 8px;
}
@media screen and (max-height: 640px) {
  .promo-list-item_number {
    font-size: 32px;
    padding: 4px;
  }
}
.promo-list-item_text {
  font-family: "Montserrat Alternates";
  font-size: 16px;
}
@media screen and (max-height: 640px) {
  .promo-list-item_text {
    font-size: 14px;
  }
}

.learn {
  padding: 8px;
  position: relative;
  background: #181a42;
  background: -webkit-linear-gradient(to left, #353989, #202479);
}
.learn-heading {
  font-family: Montserrat, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 480px) {
  .learn-heading {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .learn-heading {
    font-size: 42px;
  }
}
@media screen and (min-width: 1080px) {
  .learn-heading {
    text-align: left;
    font-size: 54px;
  }
}
.learn-description {
  font-family: "Montserrat Alternates";
  font-size: 20px;
  color: white;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 480px) {
  .learn-description {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .learn-description {
    font-size: 28px;
  }
}
@media screen and (min-width: 1080px) {
  .learn-description {
    font-size: 32px;
  }
}
.learn-image {
  display: block;
  margin: 0 auto;
  max-width: 95%;
  transition: 0.3s;
}
@media screen and (min-width: 480px) {
  .learn-image {
    max-width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .learn-image {
    max-width: 60%;
  }
}
.learn-features {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.learn-features-item {
  flex: 1 1 0;
  min-width: 280px;
  margin: 16px;
  padding: 16px;
  background-color: white;
  color: black;
  border-radius: 20px;
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 360px) {
  .learn-features-item {
    min-width: 200px;
  }
}
.learn-features-item:nth-child(2) {
  background: rgb(247, 247, 247);
}
.learn-features-item h3 {
  font-family: "Cuprum";
  font-size: 20px;
}
.learn-features-item p {
  font-family: "Montserrat Alternates";
  font-size: 16px;
}
.learn-features-item img {
  transition: 0.2s;
}
.learn-features-item:hover img {
  transform: scale(1.1);
}

.circles {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 90%;
  height: 99%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.multilateral {
  background-color: white;
  color: black;
  z-index: 2;
  position: relative;
  box-shadow: 0px -10px 20px 7px rgba(0, 0, 0, 0.69);
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}
.multilateral-heading {
  font-family: Montserrat, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .multilateral-heading {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .multilateral-heading {
    font-size: 42px;
  }
}
@media screen and (min-width: 1080px) {
  .multilateral-heading {
    text-align: left;
    font-size: 54px;
  }
}
.multilateral-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.multilateral-list-item {
  margin: 0 auto;
  max-width: 700px;
}
.multilateral-list-item img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: 20px;
  margin-top: -50px;
}
.multilateral-list h3 {
  font-family: Cuprum;
  font-size: 24px;
}
@media screen and (min-width: 480px) {
  .multilateral-list h3 {
    font-size: 2em;
  }
}
.multilateral-list p {
  position: relative;
  font-family: "Montserrat Alternates";
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  .multilateral-list p {
    font-size: 1.5em;
  }
}
.modules {
  padding: 0px;
}
.modules h2 {
  font-family: Montserrat, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-align: center !important;
}
@media screen and (min-width: 480px) {
  .modules h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .modules h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1080px) {
  .modules h2 {
    text-align: left;
    font-size: 54px;
  }
}
.modules-demo {
  padding: 10px;
  background-position: center bottom;
  background-size: cover;
}
.modules-demo:nth-child(2n) {
  background: #000;
  background-image: url("../img/black-abstract-back.webp");
}
.modules-demo:nth-child(2n+1) {
  background: rgb(231, 231, 231);
  background-image: url("../img/white-abstract-back.webp");
  color: black;
}
.modules-demo h3 {
  font-family: Cuprum;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .modules-demo h3 {
    font-size: 2em;
  }
}
.modules-demo video {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}
.modules-demo-button {
  position: relative;
  z-index: 1;
  top: -80px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.3);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: royalblue;
  border-radius: 15px;
  font-family: Cuprum;
  transition: 0.3s;
}
@media (max-width: 720px) {
  .modules-demo-button {
    position: static;
    z-index: 0;
    top: 0px;
    box-shadow: none;
  }
}
.modules-demo-button:hover {
  background-color: #577ae4;
  box-shadow: 0 0 30px 5px rgba(150, 150, 150, 0.3);
}
.modules-demo-button_descr {
  position: relative;
  z-index: 1;
  top: -85px;
  text-align: center;
  color: white;
  opacity: 0.9;
  font-family: "Montserrat Alternates";
  font-size: 10px;
}
@media (max-width: 720px) {
  .modules-demo-button_descr {
    position: static;
    z-index: 0;
    top: 0px;
    color: inherit !important;
  }
}/*# sourceMappingURL=style.css.map */