

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

a:visited {
  color: inherit;
}

.container {
  width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 1440px) {
    width: auto;
  }
}

@mixin second-heading {
  font-family: Montserrat, Helvetica, Tahoma, Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    
    text-align: center;
    @media screen and (min-width: 480px) {
      font-size: 36px;
    }
    @media screen and (min-width: 768px) {
      font-size: 42px;
    }
    @media screen and (min-width: 1080px) {
      text-align: left;
      font-size: 54px;      
    }
}

@mixin listnone {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header {
  background-color: black;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 20px rgba($color: #000000, $alpha: 0.15);
  position: fixed;    
  display: none;
  @media screen and (min-width: 480px) {
    display: block;
  }
  a {
    color: white;
    &:hover{
      color: rgb(169, 189, 247);
    }
    
  }
  
  &-menu{
    @include listnone;
    display: flex;
    align-items: center;
    
    li {
      padding: 0;
      margin: 0;
      &:first-child{
        margin-right: 32px;
      }
      a {
        display: block;
        font-family: 'Cuprum';
        text-decoration: none;

        padding: 12px;
        // margin-right: 16px;
      }
    }
  }

}

.promo {
  display: flex;
  box-sizing: border-box;

  width: 100%;
  height: 100vh;
  @media screen and (max-width: 480px) {
    height: 95vh;
    padding-top: 20px;
  }
  @media screen and (min-width: 720px) {
    padding-top: 60px;
  }
  padding-bottom: 30px;

  background-color: black;
  background-image: url('../img/promo-back-2.webp');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-central {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 480px) {
      align-items: stretch;
    }
  }

  &-link-college {
    transition: .3s;
    &:hover {
     opacity: .8;
    }
    img {
      width: 80px;
      height: 80px;
      @media screen and (min-width: 768px) {
        height: 136px;
        width: 136px;
      }
    }
  }

  &-bottom {
    
  }
  &-heading {
    font-family: Montserrat, Helvetica, Tahoma, Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 0;
    &_anim{
      animation: blinking 2s infinite;
    }
    @media screen and (min-width: 768px) {
      font-size: 50px;      
    }
    @media screen and (min-width: 1080px) {
      font-size: 80px;      
    }
  }

@keyframes blinking {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.1;
  }
}

  &-button {
    display: inline-block;
    padding: 12px 17px;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Cuprum', 'Arial Narrow';
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.3s;

    @media screen and (max-width: 480px) {
        box-sizing: border-box;
        width: 90%;
        margin: 10px auto;
        border-radius: 10px;
        font-size: 22px;
        display: block;
        padding: {
          top: 20px;
          bottom: 20px;
        };
    }
    &:first-child {
      margin-right: 16px;
      @media screen and (max-width: 480px) {
        margin: 10px auto;
    }
    }
    &:hover {
      filter: brightness(0.8)
    }
    &-signup {
      background-color: rgb(41, 173, 96);
      color: white;
    }

    &-about {
      background-color:rgb(33, 150, 243);
      color: white;
    }

  }
  
  &-bottom {
    box-sizing: border-box;
    margin: 32px;
    padding: 8px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(8px);
    border-radius: 8px;
  }

  &-list {
    @include listnone();
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      min-width: 200px;
      max-width: 300px;
      display: flex;
      align-items: center;
      padding: 16px;
      transition: .3s;
      @media screen and (max-width: 480px) {
        padding: 4px;
      }
      &_number {
        font-family: Cuprum;
        font-size: 48px;
        padding: 8px;
      }
      &_text {
        font-family: 'Montserrat Alternates';
        font-size: 16px;
        
      }
    }
  }

}

.learn {
  padding: 8px;
  position: relative;
  background: #181a42;  
  background: -webkit-linear-gradient(to left, #353989, #202479);  

  &-heading {
    @include second-heading();
    color: white;
    position: relative;
    z-index: 1;
  }
  
  &-description {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 480px) {
      font-size: 24px;
    }
    @media screen and (min-width: 768px) {
      font-size: 28px;
    }
    @media screen and (min-width: 1080px) {
      font-size: 32px;      
    }
  }
  &-image {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    transition: 0.3s;

    @media screen and (min-width: 480px) {
      max-width: 80%;
    }
    @media screen and (min-width: 768px) {
      max-width: 60%;
    }
    
    
  }

  &-features {
    display: flex;
    flex-wrap: wrap;
    @include listnone();

    &-item {
      flex: 1 1 0;
      min-width: 280px;
      margin: 16px;
      padding: 16px;
      background-color: white;
      color: black;
      border-radius: 20px;
      text-align: center;
      z-index: 1;

      &:nth-child(2) {
        background: rgb(247, 247, 247);
      }

      h3 {
        font-family: 'Cuprum';
        font-size: 20px;
      }
      p {
        font-family: 'Montserrat Alternates';
        font-size: 16px;
      }
      
      img {
        transition: .2s;
        
      }

      &:hover img{
        transform: scale(1.1);
      }
    }
  }
}

.circles {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 90%;
  height: 99%;
  overflow: hidden;

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

    &:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    &:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    &:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    &:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    &:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    &:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    &:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    &:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    &:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }
  }
}

.multilateral {
  background-color: white;
  color: black;
  z-index: 2;
  position: relative;
  box-shadow: 0px -10px 20px 7px rgba(0, 0, 0, 0.69);
  
  padding: 10px;
  &-heading {
    @include second-heading();
  }
  &-list {
  @include listnone();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  &-item {
    margin: 0 auto;
    max-width: 700px;
    img {
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: 20px;
    }
  }
    h3 {
      font-family: Cuprum;
      font-size: 24px;
      @media screen and (min-width: 480px) {
        font-size: 2em;
      }
      
    }
    p {
      font-family: 'Montserrat Alternates';
      font-size: 16px;
      @media screen and (min-width: 480px) {
        font-size: 1.5em;
      }
      
    }
  }
}

.modules {
  padding: 0px;
  h2 {
    @include second-heading();
    text-align: center!important;
  }
  
  &-demo {
    padding: 10px;
    background-position: center bottom;
    background-size: cover;
    &:nth-child(2n) {
      background: #000;
      background-image: url('../img/black-abstract-back.webp');
    }
    &:nth-child(2n+1) {
      background: rgb(231, 231, 231);
      background-image: url('../img/white-abstract-back.webp');
      color: black;
    }

    h3 {
      font-family: Cuprum;
      font-size: 24px;
      text-align: center;
      @media screen and (min-width: 480px) {
        font-size: 2em;
      }
    }

    video {
      display: block;
      margin: 0 auto;
      width: 90%;
      max-width: 1000px;
    }

    &-button {
      position: relative;
      z-index: 1;
      top: -80px;
      box-shadow: 0 0 30px 5px rgba($color: #000000, $alpha: 0.3);
      @media (max-width: 720px) {
        position: static;
        z-index: 0;
        top: 0px;
        box-shadow: none;
      }
      display: block;
      width: fit-content;
      margin: 10px auto;
      padding: 12px 24px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      background-color: royalblue;
      border-radius: 15px;
      font-family: Cuprum;
      transition: 0.3s;
      &:hover {
        background-color: lighten(royalblue, 5);
        box-shadow: 0 0 30px 5px rgba($color: #969696, $alpha: 0.3);
      }
      &_descr {
        position: relative;
        z-index: 1;
        top: -85px;
        @media (max-width: 720px) {
          position: static;
          z-index: 0;
          top: 0px;
          color: inherit!important;
        }

        text-align: center;
        color: white;
        opacity: .9;
        font-family: 'Montserrat Alternates';
        font-size: 10px; 
      }
    }
  }
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}